<style>

a {
    color:black;
}
button:hover {
animation-name: leave;
animation-duration: 1s;
background-color: cyan;
}
button {
width:-moz-available;
animation-name: enter;
animation-duration: 1s;
background-color: palevioletred;
background: palevioletred;
color: cyan;
}
@keyframes enter {
from {
    width: 100%;
}
to {
    width: 95%;
}
}
@keyframes leave {
from {
    width: 95%;
}
to {
    width: 100%;
}
}
</style>